<div class="swatch" style="background-color: <%= color %>;">
  <div class="name" style="color: <%= lowContrastColor %>;">
    <%= variableName %>
  </div>
  <div class="value" style="color: <%= contrastColor %>;">
    <%= color %>
  </div>
  <div class="fileName" style="color: <%= lowContrastColor %>;">
    <%= fileName %>
  </div>
  <div class="hover-swatch" style="background-color: <%= hoverColor %>; color: <%= color %>;">
    <%= hoverColor %>
  </div>
  <div class="tint-swatch" style="background-color: <%= tintColor %>; color: <%= color %>;">
    <%= tintColor %>
  </div>
  <div class="shade-swatch" style="background-color: <%= shadeColor %>; color: <%= color %>;">
    <%= shadeColor %>
  </div>
</div>
